* {
  box-sizing: border-box;
}
.page {
  background-color: #f5f7fb;
  min-height: 100vh;
  color: #333;
}
.container {
  max-width: 1200px;
  margin: auto;
}
.section {
  padding: 100px 0;
}
.blue {
  color: #326ba8;
}
.green {
  color: #90bd39;
}

.breadcrumb {
  font-style: italic;
}
.icons-container {
  text-align: center;
}
.icons {
  width: auto;
  display: inline-block;
  text-align: center;
  margin: 50px 0;
}
.icons .line {
  position: relative;
  bottom: -43px;
  z-index: 0;
  border: none;
  border-top: 5px dotted #848484;
  height: 1px;
  width: 80%;
  margin: auto;
}
.icons .icon {
  position: relative;
  padding-top: 20px;
  z-index: 1;
  width: 80px;
  height: 80px;
  background-color: white;
  display: inline-block;
  border-radius: 50%;
  margin: 0 20px;
  font-size: 40px;
  color: #90bd39;
  -webkit-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.05);
}

.card {
  background-color: white;
  -webkit-box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 0px 7px 4px rgba(0, 0, 0, 0.05);
  display: flex;
}
.card .info-container {
  width: 30%;
  padding: 40px;
  border-right: 3px solid #eee;
}
.card .info-container h3 {
  color: #326ba8;
  font-weight: 700;
  text-align: center;
  padding: 0;
  margin: 0;
  margin-bottom: 20px;
  font-size: 25px;
}
.card .info-container .divider {
  width: 60px;
  height: 3px;
  background-color: #326ba8;
  margin: 20px auto;
}
.card .info-container p {
  font-style: italic;
}
.card .form-container {
  padding: 30px;
  width: 70%;
}
.card .form-container .form-card {
  padding-top: 10px;
  border: 2px solid #edf2f7;
  width: 100%;
  margin-bottom: 20px;
}
.card .form-container .flex-box {
  display: flex;
  width: 100%;
}
.card .form-container .flex-box .box {
  width: 50%;
  padding: 10px 20px;
}
.card .form-container h4 {
  color: #326ba8;
  display: block;
  padding: 10px 20px;
  margin: 0;
}
.card .form-container label {
  font-size: 14px;
  font-weight: 600;
  color: #333;
  display: block;
  margin-bottom: 5px;
}
.card .form-container input {
  display: block;
  width: 100%;
  background-color: #e8edf5;
  color: #333;
  font-size: 14px;
  border: none;
  padding: 5px;
  margin-bottom: 20px;
}
